@model Hopper.Models.ConnectionDetailsItem
@{
    ViewBag.Title = "Connect";
}

<div class="jumbotron col-lg-12">

    <h2>Welcome, @User.Identity.Name</h2>

    @if (Model.RideId != 0)
    {
        <p>
            @Model.Ride.StartAddress, @Model.Ride.StartCity, @Model.Ride.StartState - @Model.Ride.EndAddress, @Model.Ride.EndCity, @Model.Ride.EndState
        </p>


        using (Html.BeginForm())
        {
            <div class="form-horizontal connection-form">


                <div class="form-group">
                    <div class="col-md-10">
                @Html.HiddenFor(m => m.RideId)
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownList("TransportId", null, htmlAttributes: new { @class = "control-label col-md-2" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Connect" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>
            There are no rides available.
        </p>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
