@model IEnumerable<Hopper.Models.TransportListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("+", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

    <ol>
        @foreach (var item in Model)
        {
            <li>
            <img src="~/Assets/Images/@(item.TransportAnimal).png" />
                <br />
            @Html.DisplayFor(modelItem => item.TransportAnimal)
                <br />
            @Html.DisplayFor(modelItem => item.Age)
                <br />
            @Html.DisplayFor(modelItem => item.Color)
            </li>
        }
    </ol>
